Repository kshehadeh/ansie: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc

prettier:
  run: bunx prettier -w {staged_files} && git add {staged_files}

eslint:
  run: bun run lint

tsc:
  run: bunx tsc --noEmit --skipLibCheck

Fixed permissions issue
  scripts/deploy.sh
Due: none

Recovered missing imports
  dist/cjs/experiment.d.ts
  dist/cjs/index.d.ts
  dist/cjs/index.js
  dist/esm/experiment.d.ts
  dist/esm/index.d.ts
  dist/esm/index.js
  scripts/deploy.sh
  src/index.ts
Due: prettier, eslint, tsc

Bump version
  package-lock.json
  package.json
Due: prettier

Updated version
  package-lock.json
  package.json
Due: prettier

Removed bun lock file
  bun.lockb
Due: none

Make selectex value parameter templated
  src/ask/index.ts
Due: prettier, eslint, tsc

Fixed previous
  bun.lock
  dist/cjs/ask/index.d.ts
  dist/cjs/index.js
  dist/esm/ask/index.d.ts
  dist/esm/index.js
Due: prettier, eslint, tsc

Fix markdown parsing in paragraphs
  src/utilities/convert-markdown-to-ansie.ts
Due: prettier, eslint, tsc

Fix markdown parsing in paragraphs (#24)
  src/utilities/convert-markdown-to-ansie.ts
Due: prettier, eslint, tsc

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,css,scss,md,json,yml,yaml}
  eslint: any of: *.{js,ts,jsx,tsx}
  tsc: any of: *.{ts,tsx}
